html{
    font-family: serif;
    float: left;
}
header{
    margin:0 auto;
    text-align: left;
    background-color: lightblue;
    font-size: 20px;
    float: left;
    width: 85%;
    
}
#classroom{
    font-size: 22px;
    float: left;
}
.space{
    margin-left:10px;
}
#missioncode{
    float:left;
    background-color: lightgray;
    font-size: 46px;
    width: 85%;
}
#meeting_time{
    font-size: 20px;
    margin-top: 12px;
}
.heading{
    font-weight: normal;
}